<h1>Create A New Item</h1>

<%= form_for [:admin, @item] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :image, "Image URL"%>
  <%= f.text_field :image %>

  <%= f.label :category_id %>
  <%= f.select :category_id, @categories.collect {|category| category.name} %>

  <%= f.radio_button :status, 'active', :checked => true %>
  <%= f.label :status, 'Active' %>
  <%= f.radio_button :status, 'retired' %>
  <%= f.label :status, 'Retired' %>

  <%= f.submit "Create Item" %>

<% end %>
