<div class="order-show-page">
  <div class="column-flexbox">
    <h2 class="order-header-box">Order: <%= @order.id %></h2>
    <table>
      <tr>
        <th>Status</th>
        <th><%= @order.status %></th>
      </tr>
      <tr>
        <th>Order Placed On:</th>
        <th><%= @order.created_at.strftime("%b %d, %Y") %></th>
      </tr>
      <tr>
        <th>Order Updated On:</th>
        <th><%= @order.updated_at.strftime("%b %d, %Y") %></th>
      </tr>
      <tr>
        <th>Order Total Price:</th>
        <th><%= number_to_currency(@order.total_item_price) %></th>
      </tr>
      <tr>
        <th>Order Total Item Count:</th>
        <th><%= @order.items.count %></th>
      </tr>
      <tr>
        <th>User's Name:</th>
        <th><%= @order.user.full_name %></th>
      </tr>
      <tr>
        <th>User's Address:</th>
        <th><%= @order.user.address %></th>
      </tr>
    </table>
    <h2 class="order-header-box">Item Breakdown</h2>
    <table>
      <tr>
        <th>Item Name</th>
        <th>Item Information</th>
      </tr>
      <% @order.item_count_and_subtotals.each do |item, info| %>
      <tr>
        <th><%= link_to item.name, item_path(item) %></th>
        <th>Price: <%= item.price %> || <%= info %></th>
      </tr>
      <% end %>
    </table>

  </div>

</div>
