<div class="order-show-page">
  <div class="column-flexbox">
    <h2>Order: <%= @order.id %></h1>
    <table>
      <tr>
        <th>Status</th>
        <th><%= @order.status %></th>
      </tr>
      <tr>
        <th>Order Placed On:</th>
        <th><%= @order.created_at.strftime("%b %d, %Y") %></th>
      </tr>
      <tr>
        <th>Order Total Price:</th>
        <th><%= number_to_currency(@order.total_item_price) %></th>
      </tr>
      <tr>
        <th>Total Item Count:</th>
        <th><%= @order.total_item_count %></th>
      </tr>
    </table>
    <table>
      <tr>
        <th>Item Name</th>
        <th>Item Information</th>
        <th>Item Quantity</th>
        <th>Item Subtotal</th>
      </tr>
    <% @order.items.each do |item| %>
      <tr>
        <th><%= link_to item.name, item_path(item) %></th>
        <th>Price: <%= number_to_currency(item.price) %></th>
        <th>Quantity: <%= item.quantity_for_single_order(@order) %></th>
        <th>Subtotal: <%= number_to_currency(item.subtotal_for_single_order(@order)) %></th>
      </tr>
    <% end %>
    </table>


  </div>
</div>
