<h1>My Cart</h1>

<% @items.each do |item, count| %>
  <%= item.name %>
  <%= item.description %>
  <%= number_to_currency(item.price) %>
  Count: <%= count %>
  <%= link_to "Remove Item", cart_path(item_id: item.id), method: :delete %>
<% end %>

Total Cost: <%= number_to_currency(@cart.total_cost) %>
