
<h3><%=@item.name%></h3>

<%= @item.name %>
<%= image_tag(@item.image,  class: "item-image") %>
<%= @item.description %>
<%= @item.price %>
<%= button_to "Add To Cart", cart_path(item_id: @item.id) %>
