<h1>Analytics Dashboard</h1>

<p><%= @user.user_with_most_orders.username %> has the most orders with <%= @user.user_with_most_orders.orders.count %></p>

<table>
  <tr>
    <th>Category Name</th>
    <th>Highest Priced Item</th>
    <th>Item Price</th>
  </tr>
<% @categories.each do |category| %>
  <tr>
    <th><%= category.name %></th>
    <th><%= category.highest_priced_item.name %></th>
    <th><%= category.highest_priced_item.price %></th>
  </tr>
<% end %>

</table>
