<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <div class="nav_bar">
    <img id="headshot" src="https://2.bp.blogspot.com/-UT19BAbWqVc/VWnwerFErMI/AAAAAAABThg/HVWKBSPx3OQ/s1600/1kbj-1432600430-241727-full.jpg">
    <h1 class="title">The General's Lightsaber Emporium</h1>
    <div class="nav_icons">
      <% if current_user.nil? %>
      <div class="dropdown">
        <button class="drop-icon", class="nav_bar_link"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
        <div class="drop-list">
          <a href="/" class: "nav_bar_link">Home</a>
          <a href="/items" class: "nav_bar_link">Shop</a>
          <a href="/categories" class: "nav_bar_link">Categories</a>
          <a href="/cart" class: "nav_bar_link" title="View Cart">Cart (<%=@cart.item_quantity%>)</a>
        </div>
      </div>
          <a href="/login" class: "nav_bar_link" title="Login"><i class="fa fa-user-circle-o fa-2x" id="nav_bar_link" aria-hidden="true"></i></a>
      <% elsif current_admin? %>
      <div class="dropdown">
        <button class="drop-icon", class="nav_bar_link"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
        <div class="drop-list">
          <a href="/" class: "nav_bar_link">Home</a>
          <a href="/admin/dashboard" class: "nav_bar_link">Dashboard</i></a>
          <a href="/items" class: "nav_bar_link">Shop</a>
          <a href="/categories" class: "nav_bar_link">Categories</a>
          <a href="/cart" class: "nav_bar_link" title="View Cart">Cart (<%=@cart.item_quantity%>)</a>
        </div>
      </div>
          <a href="/logout" class: "nav_bar_link" title="Logout"><i class="fa fa-sign-out fa-2x" id="nav_bar_link" aria-hidden="true"></i></a>
      <% elsif current_user %>
      <div class="dropdown">
        <button class="drop-icon", class="nav_bar_link"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
        <div class="drop-list">
          <a href="/" class: "nav_bar_link">Home</a>
          <a href="/dashboard" class: "nav_bar_link">Dashboard</i></a>
          <a href="/items" class: "nav_bar_link">Shop</a>
          <a href="/categories" class: "nav_bar_link">Categories</a>
          <a href="/cart" class: "nav_bar_link" title="View Cart">Cart (<%=@cart.item_quantity%>)</a>
        </div>
      </div>
          <a href="/logout" class: "nav_bar_link" title="Logout"><i class="fa fa-sign-out fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Logout</div></i></a>
      <% end %>
    </div>
  </div>
  <body>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "flash_message" %>
    <% end %>

    <%= yield %>
  </body>
</html>
