<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <div class="nav_bar">
    <img id="headshot" src="https://2.bp.blogspot.com/-UT19BAbWqVc/VWnwerFErMI/AAAAAAABThg/HVWKBSPx3OQ/s1600/1kbj-1432600430-241727-full.jpg">
    <div id="title-bar">
      <h1 class="title">Grievous' Lightsaber Emporium</h1>
    </div>
    <div class="nav_icons">
      <% if current_user.nil? %>
        <a href="/items" class: "nav_bar_link"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/957347-200.png" class="invert" id="saber"><div id="icon-title">Shop</div></a>
        <a href="/categories" class: "nav_bar_link"><i class="fa fa-sitemap fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Categories</div></i></a>
        <a href="/" class: "nav_bar_link"><i class="fa fa-home fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Home</div></i></a>
        <a href="/cart" class: "nav_bar_link" title="View Cart"><i class="fa fa-shopping-cart fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Cart</div></i></a>
        <a href="/login" class: "nav_bar_link" title="Login"><i class="fa fa-user-circle-o fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Login</div></i></a>
      <% elsif current_user %>
        <a href="/items" class: "nav_bar_link"> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/957347-200.png" class="invert" id="saber"><div id="icon-title">Shop</div></a>
        <a href="/categories" class: "nav_bar_link"><i class="fa fa-sitemap fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Categories</div></i></a>
        <a href="/dashboard" class: "nav_bar_link"><i class="fa fa-desktop fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Dashboard</div></i></a>
        <a href="/" class: "nav_bar_link"><i class="fa fa-home fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Home</div></i></a>
        <a href="/cart" class: "nav_bar_link" title="View Cart"><i class="fa fa-shopping-cart fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Cart</div></i></a>
        <a href="/logout" class: "nav_bar_link" title="Logout"><i class="fa fa-sign-out fa-2x" id="nav_bar_link" aria-hidden="true"><div class="icon-title">Logout</div></i></a>
      <% end %>
    </div>
  </div>
  <body>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: type %>
    <% end %>

    <%= yield %>
  </body>
</html>
